{% extends "base.html" %}

{% load detokenization %}

{% block content %}

<div>
    <h1>Sentence {{ sentence.pk }}</h1>
    <div class="alert alert-info alert sentence">
        <p><b>Source:</b> {{ sentence.source_str | detokenize:"en" }}</p>
    </div>

    <div class="alert alert-success sentence">
        <p><b>Reference:</b> {{ sentence.reference_str | detokenize:"cs" }}</p>
    </div>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="segments_number" value="{{ sentence.segments.count }}"/>

        {% for segment_i, segment in sentence.enumerate_segments %}
        <div class="panel panel-primary segment-annotation">
            <input type="hidden" name="segment_{{ segment_i }}_pk" value="{{ segment.pk }}" />

            <div class="panel-heading">
                <h4>Segment {{forloop.counter}}</h4>
                <p>
                    <b>Source:</b>
                    {% for is_segment, string in segment.source_groups %}
                        {% if is_segment %}
                            <span class="highlighted">{{ string | detokenize:"en" }}</span>
                        {% else %}
                            {{ string | detokenize:"en" }}
                        {% endif %}
                    {% endfor %}
                </p>
                <ul class="horizontal-list rank-list unannotated-bin" data-rank="0">
                    {% for candidate_i, candidate in segment.candidates %}
                    <li class="candidate-segment">
                        <span>
                            {{ candidate | detokenize:"cs"}}
                            <input type="hidden" name="segment_{{ segment_i }}_candidate_{{ candidate_i }}_rank" value="none" class="hidden-rank"/>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <table class="table">
                <tbody>
                    {% for rank in segment.avialable_ranks %}
                    <tr>
                        <td>
                            <span class="rank-label"><b>Rank {{ rank }}</b></span>
                        </td>
                        <td>
                            <ul class="horizontal-list rank-list" data-rank="{{ rank }}"></ul>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <span class="rank-label"><b>Garbage</b></span>
                        </td>
                        <td>
                            <ul class="horizontal-list rank-list" data-rank="-1"></ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}

        <div class="alert alert-success">
            <button id="submit-button" type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-cloud-upload"></span> Submit
            </button>
        </div>
    </form>

    <script type="text/javascript">

function update_submit_button() {
    if ($('.unannotated-bin .candidate-segment').length) {
        $('#submit-button').attr('disabled','disabled');
    } else {
        $('#submit-button').removeAttr('disabled');
    }
}

function rank_update(event, ui) {
    var rank = $(ui.item).closest('.rank-list').data('rank');
    $(ui.item).find('.hidden-rank').val(rank);
    update_submit_button();
}

$(document).ready(function(){

        $('.segment-annotation').each(function() {
            $(this).find('.rank-list')
                .sortable({
                    connectWith: $(this).find('.rank-list'),
                    containment: $(this),
                    dropOnEmpty: true,
                    update: rank_update,
                    tolerance: 'pointer',
                    forcePlaceholderSize: true,
                    placeholder: 'sortable-placeholder',
                    revert: 100,
                    })
                })
            .disableSelection();

        update_submit_button()

        });

        
    </script>
</div>

{% endblock %}
