{% extends "base.html" %}

{% load detokenization %}

{% block content %}

<div>
    <h1>Věta {{ sentence.pk }}</h1>
    
    <div class="alert alert-info sentence">
        <h3>Instrukce</h3>

        <p>Pro danou zdrojovou větu je vybráno několik segmentů. U každého z
        těchto segmentů vidíte několik překladů. Vaším úkolem je uspořádat tyto
        překlady relativně od nejlepšího po nejhorší. Lepší překlady umístěte
        výše, horší níže. Pokud jsou některé překlady stejně kvalitní, umístěte
        je na stejnou pozici. Překlady, které nedávají žádný smysl a které se
        nedají navzájem porovnat, umístěte na pozici "Odpad".</p>

        <p>Mějte prosím na vědomí, že segmenty a jejich překlady jsou vybrány
        automaticky a nemusí být dokonalé. Považujte je tedy za přibližné
        vodítko. Například pokud překlad segmentu obsahuje nadbytečné slovo,
        které neodpovídá překládanému segmentu, ale jinak do věty patří,
        nemusíte takový překlad považovat za horší.  </p>

    </div>

    <div class="alert alert-success sentence">
        <h3>Zdrojová věta</h3>
        <p>{{ sentence.source_str | detokenize:"en" }}</p>

        <h3>Referenční překlad</h3>
        <p>{{ sentence.reference_str | detokenize:"cs" }}</p>
    </div>

    <form method="POST" action="{% url 'segranks.views.submitview' pk=object.project.pk %}">
        {% csrf_token %}
        <input type="hidden" name="segments_number" value="{{ sentence.segments.count }}"/>

        {% for segment_i, segment in sentence.enumerate_segments %}
        <div class="panel panel-primary segment-annotation">
            <input type="hidden" name="segment_{{ segment_i }}_pk" value="{{ segment.pk }}" />

            <div class="panel-heading">
                <h3>Segment {{forloop.counter}}</h3>
                <p>
                    {% for is_segment, string in segment.source_groups %}
                        {% if is_segment %}
                        <!--<span class="highlighted">{{ string | detokenize:"en" }}</span>-->
                        <b class="highlighted">{{ string | detokenize:"en" }}</b>
                        {% else %}
                            {{ string | detokenize:"en" }}
                        {% endif %}
                    {% endfor %}
                </p>
                <ul class="horizontal-list rank-list unannotated-bin" data-rank="0">
                    {% for candidate_i, candidate in segment.enum_candidates %}
                    <li class="candidate-segment">
                        <span>
                            {{ candidate | detokenize:"cs"}}
                            <input type="hidden" name="segment_{{ segment_i }}_candidate_{{ candidate_i }}_rank" value="none" class="hidden-rank"/>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <table class="table">
                <tbody>
                    {% for rank in segment.avialable_ranks %}
                    <tr>
                        <td align="right">
                            <span>
                                <b>
                                    Rank {{ rank }}
                                </b>
                            </span>
                        </td>
                        <td class="rank-list-cell">
                            {% comment %}
                            {% if forloop.first %}
                            <span class="bgtext">
                                <b>Nejlepší</b>
                            </span>
                            {% endif %}
                            {% if forloop.last %}
                            <span class="bgtext">
                                <b>Nejhorší</b>
                            </span>
                            {% endif %}
                            {% endcomment %}
                            <ul class="horizontal-list rank-list" data-rank="{{ rank }}"></ul>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <span class="rank-label"><b>Odpad</b></span>
                        </td>
                        <td>
                            <ul class="horizontal-list rank-list" data-rank="100"></ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endfor %}

        <div class="alert alert-success">
            <button id="submit-button" type="submit" class="btn btn-primary">
                Odevzdat <span class="glyphicon glyphicon-cloud-upload"></span>
            </button>
        </div>
    </form>

    <script type="text/javascript">

function update_submit_button() {
    if ($('.unannotated-bin .candidate-segment').length) {
        $('#submit-button').attr('disabled','disabled');
    } else {
        $('#submit-button').removeAttr('disabled');
    }
}

function rank_update(event, ui) {
    var rank = $(ui.item).closest('.rank-list').data('rank');
    $(ui.item).find('.hidden-rank').val(rank);
    update_submit_button();
}

$(document).ready(function(){

        $('.segment-annotation').each(function() {
            $(this).find('.rank-list')
                .sortable({
                    connectWith: $(this).find('.rank-list'),
                    containment: $(this),
                    dropOnEmpty: true,
                    update: rank_update,
                    tolerance: 'pointer',
                    forcePlaceholderSize: true,
                    placeholder: 'sortable-placeholder',
                    revert: 100,
                    })
                })
            .disableSelection();

        update_submit_button()

        });

        
    </script>
</div>

{% endblock %}
