.alert.sentence {
    margin-bottom: 5px;
    padding: 10px;
}

.draggable-segment {
    margin: 2px;
}

.draggable-segment {
    cursor: pointer;
}

.ui-sortable-helper {
    cursor: move;
    opacity: 0.7;
}

ul.horizontal-list {
    list-style-type: none;
    overflow: display;
}

ul.horizontal-list li {
    display: inline-block;
    list-style-type: none;
}
